<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AnalyticsDroid.AnalyticsDroid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="AnalyticsDroid" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>